<div class="row">
  <h3>Proyectos</h3>
  <div class="container-fluid test">
    <div class="col-sm-12 col-md-7 col-lg-7 titulo_descripcion">
      <h3>Nombre de proyecto</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum iure repudiandae illum asperiores sint cum sit ex, vel officiis in porro pariatur unde repellendus ipsa aliquid dolorem ducimus deserunt quasi?</p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4" style="float:right;">
      <img class="img-fluid img-proyecto" src="https://e7.pngegg.com/pngimages/879/832/png-clipart-computer-program-openui5-webstorm-intellij-idea-screenshot-others-text-computer-program.png">
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-12 col-md-7 col-lg-7 titulo_descripcion">
      <h3>Nombre de proyecto</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum iure repudiandae illum asperiores sint cum sit ex, vel officiis in porro pariatur unde repellendus ipsa aliquid dolorem ducimus deserunt quasi?</p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4" style="float:right;">
      <img class="img-fluid img-proyecto" src="https://e7.pngegg.com/pngimages/879/832/png-clipart-computer-program-openui5-webstorm-intellij-idea-screenshot-others-text-computer-program.png">
    </div>
  </div>
</div>

