<div class="row">
  <p class="h3">Educacion</p>
  <div class="col-lg-2">
    <button type="button" class="btn btn-success" routerLink="/nuevaedu" *ngIf="isLogged">
      Agregar educacion
    </button>
  </div>
    <table class="table table-hover table-dark rounded-3">
      <thead>
        <tr>
          <th scope="col">Institución</th>
          <th scope="col">Descripción</th>
          <th scope="col" *ngIf="isLogged" >Edición</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td>
            <textarea readonly name="" id="" cols="30" rows="6">
{{Educacion.nombreE}}
            </textarea>
          </td>
          <td>
            <textarea readonly name="" id="" cols="30" rows="6">
{{Educacion.descripcionE}}
            </textarea> 
          </td>
          <td *ngIf="isLogged" >
            <button class="btn btn-warning" routerLink="/editedu/{{Educacion.id}}">
              <i class="bi bi-pencil-fill"></i>EDITAR
            </button>
            <button class="btn btn-danger" (click)="borrar(Educacion.id)">
              <i class="bi bi-trash-fill"></i>BORRAR
            </button>
          </td>
        </tr>
      </tbody>
      
    </table>
  
</div>

