<div  class="row">
  <h3>Educación</h3>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h4>Estudio 1</h4>-<h5>(years)</h5>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, temporibus pariatur quidem a eaque dicta natus consequuntur sed ut ab corrupti eos, harum maiores! Suscipit nesciunt nisi dolore. Vel, cum.
      </p>
    </ul>
    <ul>
      <li>
        <h4>Estudio 2</h4>-<h5>(years)</h5>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, temporibus pariatur quidem a eaque dicta natus consequuntur sed ut ab corrupti eos, harum maiores! Suscipit nesciunt nisi dolore. Vel, cum.
      </p>
    </ul>
    <ul>
      <li>
        <h4>Estudio 3</h4>-<h5>(years)</h5>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, temporibus pariatur quidem a eaque dicta natus consequuntur sed ut ab corrupti eos, harum maiores! Suscipit nesciunt nisi dolore. Vel, cum.
      </p>
    </ul>
  </div>
</div>