<div  class="row">
  <h3>Educación</h3>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h4>Estudio 1</h4>-<h5>(years)</h5>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, temporibus pariatur quidem a eaque dicta natus consequuntur sed ut ab corrupti eos, harum maiores! Suscipit nesciunt nisi dolore. Vel, cum.
      </p>
    </ul>
    <ul>
      <li>
        <h4>Estudio 2</h4>-<h5>(years)</h5>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, temporibus pariatur quidem a eaque dicta natus consequuntur sed ut ab corrupti eos, harum maiores! Suscipit nesciunt nisi dolore. Vel, cum.
      </p>
    </ul>
    <ul>
      <li>
        <h4>Estudio 3</h4>-<h5>(years)</h5>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, temporibus pariatur quidem a eaque dicta natus consequuntur sed ut ab corrupti eos, harum maiores! Suscipit nesciunt nisi dolore. Vel, cum.
      </p>
    </ul>
  </div>
</div>
<div class="row" >
  <h2>Hard & Soft Skills</h2>
</div>
<div class="row row-cols-1 row-cols-md-4" style="justify-content: space-evenly;">
  
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar 
      [progress]="95" 
      [label]="'C'" 
      [url]="'https://www.clipartmax.com/png/small/351-3515666_c-language-global-or-external-variables-with-examples-c-programming-logo.png'">
    </app-circle-progress-bar>
  </div>
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar 
      [progress]="40" 
      [label]="'C++'" 
      [url]="'https://www.freeiconspng.com/uploads/c--logo-icon-0.png'">
    </app-circle-progress-bar>
  </div>
  
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar 
      [progress]="60" 
      [label]="'Git'" 
      [url]="'https://upload.wikimedia.org/wikipedia/commons/3/3f/Git_icon.svg'"></app-circle-progress-bar>
  </div>
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar 
      [progress]="76" 
      [label]="'JAVA'" 
      [url]="'https://w7.pngwing.com/pngs/405/878/png-transparent-java-logo-java-runtime-environment-computer-icons-java-platform-standard-edition-java-miscellaneous-text-logo.png'">
    </app-circle-progress-bar>
  </div>
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar 
      [progress]="60" 
      [label]   ="'HTML5'" 
      [url]     ="'https://www.w3.org/html/logo/downloads/HTML5_Logo.svg'"
      [bgcolor] ="'#ffffff'">
    </app-circle-progress-bar>
  </div>
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar 
      [progress]="65" 
      [label]="'CSS3'"
      [url]  ="'https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg'"
      [bgcolor] = "'#ffffff'">
    </app-circle-progress-bar>
  </div>
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar
      [progress]="60" 
      [label]="'javascript'"
      [url]  ="'https://iconape.com/wp-content/files/vr/353405/png/javascript-js-logo.png'">
    </app-circle-progress-bar>
  </div>
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar
      [progress]="60" 
      [label]="'typescript'"
      [url]  ="'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/512px-Typescript_logo_2020.svg.png?20210506173343'">
    </app-circle-progress-bar>
  </div>
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar 
      [progress]="85"
      [url]     ="'https://w7.pngwing.com/pngs/614/744/png-transparent-mysql-database-mariadb-dolphin-marine-mammal-animals-text.png'" 
      [label]="'MySQL'">
    </app-circle-progress-bar>
  </div>
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar 
      [progress]="50"
      [url]     ="'https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg'" 
      [label]="'Angular'">
    </app-circle-progress-bar>
  </div>
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar 
      [progress]="50"
      [url]     ="'https://www.armadilloamarillo.com/wp-content/uploads/course-image.png'" 
      [label]="'Spring Boot'">
    </app-circle-progress-bar>
  </div>
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar 
      [progress]="50"
      [url]     ="'https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg'" 
      [label]="'Spring Boot'">
    </app-circle-progress-bar>
  </div>
  
  
  <div class="col mb-4" style="width:auto; padding:0%">
    <app-circle-progress-bar 
      [progress]="70"
      [url]     ="'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Us-uk.svg/800px-Us-uk.svg.png?20160517212831'" 
      [label]="'Inglés (entre B1 y B2)'"
      [boxShadow]="'none'"
      [bgcolor] = "'#ffffff'">
    </app-circle-progress-bar>
  </div>
  
</div>