<nav id="navbar-id" class="navbar navbar-expand-md navbar-dark sticky-top bg-dark" >
  <!-- Contenedor wrapper -->
  <div class="container-fluid">
    <!-- Argentina programa Logo con Nombre y hashtag -->
    <nav class="navbar navbar-dark">
      <a  class="navbar-brand" href="#">
        <img id="img-logoAP" src="../../../assets/header/logos/AP.png" alt="Logo AP" >
        <!--style="height:3.5em"-->
        #YoProgramo
      </a>
    </nav>

    <!-- Botón para colapsar expandir elementos del header-->
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        
    <div class="navbar-collapse collapse  flex-row-reverse" id="navbarCollapse">
      <hr>

      <ul class="navbar-nav align-items-center flex-row-reverse">

        <li class="nav-item p-2">
          <!--a class="btn btn-light bi-lock" href="login" role="button">Login</a-->
          <!--a class="btn btn-light bi-lock" href="login" role="button">Login</a-->
          <a class="btn btn-light bi-lock" href="login" role="button" (click)="logIn()" *ngIf="!isLogged">Ingreso</a>
          <a class="btn btn-light bi-lock" href="login" role="button" (click)="onLogout()" *ngIf="isLogged">Cerrar sesión</a>
        </li>

        <li class="nav-item p-2">
          <a class="nav-link" href="https://github.com/vortigano/" target="_blank">
            <img id="img-logoGithub" src="../../../assets/header/logos/github_bw.png" alt="">
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/albertomartincapurro/" target="_blank">
            <img id="img-logoLinkedin" src="../../../assets/header/logos/linkedin_bw.png" alt="">
          </a>
        </li>
        
      </ul> 

    </div>

  </div>
</nav>

<!--Banner-->
<!--El contenedor exterior de fondo negro-->
<!--la fila tiene una columna con una imagen con un gráfico con altura limitada por css-->

<div class="container-flex" style="background-color: #daba07;">
  <div class="row-flex" style="text-align:center; align-items: center;">
      <div class="col g-0">
        <td *ngIf="isLogged">
          <button class="btn btn-light" routerLink="/editar/{{persona.id}}">
            <i class="bi bi-pencil-fill"></i></button>
        </td>
        <!--img id="img-banner" src="../../../assets/header/banner/banner_space.jpg" 
        alt="Banner" style="width: 100%;"-->
        <img id="img-banner" src={{persona.img_banner}} alt="Banner" style="width: 100%;">
        
      </div>
      
  </div>
</div>
