<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark"  style="background-color: #000000; overflow:hidden;">
  <!-- Contenedor wrapper -->
  <div class="container-fluid">
    
    <!-- Argentina programa Logo con Nombre y hashtag -->
    <nav class="navbar navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/header/AP.png" class="d-inline-block" alt="" style="height:3.5em">
        #YoProgramo
      </a>
    </nav>

    <!-- Botón para colapsar expandir elementos del header-->
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <div class="navbar-collapse collapse  flex-row-reverse" id="navbarCollapse">
      <hr style="color:aliceblue">
      <ul class="navbar-nav align-items-center flex-row-reverse">
        <li class="nav-item p-2">
          <a class="btn btn-light bi-lock" href="#" role="button">Login</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="https://github.com/vortigano" ><img src="../../../assets/header/github_bw.png" alt="" style="height:3em" ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../../../assets/header/linkedin_bw.png" alt="" style="height:3em"></a>
        </li>
      </ul> 
    </div>

    
  </div>

</nav>