<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white">
          <div class="card-body p-5 text-center">
            <div class="md-5 mt-md-4 pb-2">

              <h2 class="fw-bold mb-2 text-uppercase">Editar habilidad</h2>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                  <div class="form-group form-white mb-4">
                    <label class="form-label" for="nombre">Nombre de la habilidad</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
                  </div>

                  <div  class="form-group form-white mb-4">
                    <label class="form-label" for="porcentaje">Ingrese el porcentaje</label>
                    <input (ngModelChange)="validar()" [ngModelOptions]="{updateOn : 'change'}" type="text" class="form-control" id="porcentajex" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
                    <ng-template *ngIf="!validar(); then thenBlock "></ng-template>
                    <!--else elseBlock-->
                    
                  </div>
                  
                  <ng-template #thenBlock>
                    <div class="form-group invalid-tooltip">
                      <label class="form-label">Ingrese porcentaje 00.00 a 99.99</label>
                    </div>
                  </ng-template>
                  <!--ng-template #elseBlock>
                    <div class="form-group valid-tooltip">
                      <label class="form-label">OK</label>
                    </div>
                  </ng-template--> 
                  
                  <div class="form-group form-white mb-4">
                    <label class="form-label" for="img_url">Url de la imagen</label>
                    <input type="text" class="form-control" id="img_url" name="img_url" [(ngModel)]="skill.img_url" required>  
                  </div>
                  <button class="btn btn-primary">
                    Actualizar
                  </button>
                </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>