<div class="row" >
  <h2>Hard & Soft Skills</h2>
  <div class="col-lg-2">
    <button class="btn btn-dark"  type="button" routerLink="/nuevaskill" *ngIf="isLogged">Nueva Habilidad</button>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-4" style="justify-content: space-evenly;">
  
  <div class="col mb-4" style="width:auto; padding:0%" *ngFor="let skill of skill">
    <app-circle-progress-bar 
      [progress]="(skill.porcentaje)" 
      [label]="(skill.nombre)" 
      [url]="'https://www.clipartmax.com/png/small/351-3515666_c-language-global-or-external-variables-with-examples-c-programming-logo.png'">
    </app-circle-progress-bar>

    <td *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
        <i class="bi bi-pencil-fill"></i></button>
    </td>
      
    <td *ngIf="isLogged">
      <button class="btn btn-danger" (click)="delete(skill.id)">
        <i class="bi bi-trash-fill"></i>Borrar</button>
    </td>
  </div>
  
  
</div>