<div class="container">
  
  <div class="card">
    <div class="box">
      <ng-template #$mi_temp_var [ngTemplateOutlet]="$mi_temp_var"
        let-a [ngTemplateOutletContext]="{ $implicit: 100}">
        <div class="percent"  [style.--mi_valor]="440 - (440 * a)/100">
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>{{a}}<span>%</span></h2>
          </div>
        </div>
        <h2 class="text">test</h2>
      </ng-template>
    </div>
  </div>
  
</div>