
<section class="gradient-custom">
  <div class="container py-5 h-100" *ngIf="persona">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white">
          <div class="card-body p-5 text-center">
            <div class="md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Editar Perfil</h2>
              <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

                <ng-template #opt2>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="nombre">Nombre</label>
                    <input class="form-control" enabled type="text" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                  </div>
          
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="apellido">Apellido</label>
                    <input class="form-control" enabled type="text" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                  </div>
          
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="subtitulo">subtitulo</label>
                    <input class="form-control" enabled type="text" id="subtitulo" name="subtitulo" [(ngModel)]="persona.subtitulo" required>
                  </div>
                </ng-template>
                <ng-template #opt2not>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="nombre">Nombre</label>
                    <input class="form-control" disabled type="text" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                  </div>
          
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="apellido">Apellido</label>
                    <input class="form-control" disabled type="text" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                  </div>
          
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="subtitulo">Subtítulo</label>
                    <input class="form-control" disabled type="text" id="subtitulo" name="subtitulo" [(ngModel)]="persona.subtitulo" required>
                  </div>
                </ng-template>
                <ng-template *ngIf="opt==='2'; then opt2 else opt2not"></ng-template>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="acerca_de_mi">Acerca de mí</label>
                  
                  <ng-template #opt3>
                    <textarea class="form-control"  rows="6" enabled type="text" id="acerca_de_mi" name="acerca_de_mi" [(ngModel)]="persona.acerca_de_mi" required></textarea>
                  </ng-template>
                  <ng-template #opt3not>
                    <textarea class="form-control"  rows="6" disabled type="text" id="acerca_de_mi" name="acerca_de_mi" [(ngModel)]="persona.acerca_de_mi" required></textarea>
                  </ng-template>
                  <ng-template *ngIf="opt==='3'; then opt3 else opt3not"></ng-template>
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="img_perfil">Imagen de perfil</label>
                  
                  <ng-template #opt1>
                    <input class="form-control" enabled type="text" id="img_perfil" name="img_perfil" [(ngModel)]="persona.img_perfil" required>
                  </ng-template>
                  <ng-template #opt1not>
                    <input class="form-control" disabled type="text" id="img_perfil" name="img_perfil" [(ngModel)]="persona.img_perfil" required>
                  </ng-template>
                  <ng-template *ngIf="opt==='1'; then opt1 else opt1not"></ng-template>

                </div>
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="img_banner">Imagen de banner</label>
                  <ng-template #opt4>
                    <input class="form-control" enabled  type="text" id="img_banner" name="img_banner" [(ngModel)]="persona.img_banner" required>
                  </ng-template>
                  <ng-template #opt4not>
                    <input class="form-control" disabled type="text" id="img_banner" name="img_banner" [(ngModel)]="persona.img_banner" required>
                  </ng-template>
                  <ng-template *ngIf="opt==='4'; then opt4 else opt4not"></ng-template>
                </div>
                <!--
                  this.nombre = nombre;
                  this.apellido = apellido;
                  this.titulo_acerca_de_mi = titulo_acerca_de_mi;
                  this.acerca_de_mi = acerca_de_mi;
                  this.img_perfil = img_perfil;
                  this.img_banner = img_banner;
                -->
                <button class="btn btn-primary">
                  Actualizar
                </button>
              </form>
    
</div>