<div class="row g-0" >
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 g-0" style="background-color:yellowgreen">
    <td *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/editar/{{persona.id}}"><!--{{persona.id}}">-->
        <i class="bi bi-pencil-fill">KK</i></button>
    </td>
    <img id="fotodeperfil" src="{{persona.img_perfil}}" class="img-fluid">
    
      <p id="nombre">{{persona.nombre}}&nbsp;{{persona.apellido}}</p>
      <p>{{persona.subtitulo}}</p>
    <td *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/editar/{{persona.id}}">
        <i class="bi bi-pencil-fill"></i></button>
    </td>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 g-0" style="background-color:brown">
    <h3 id="acerca_de_mi" *ngIf="persona.acerca_de_mi!=''" >Acerca de mí</h3>
    <p>{{persona.acerca_de_mi}}</p>
    <td *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/editar/{{persona.id}}">
        <i class="bi bi-pencil-fill"></i></button>
    </td>
    <td *ngIf="isLogged&&persona.acerca_de_mi!=''">
      <button class="btn btn-light" routerLink="/editar/{{persona.id}}">
        <i class="bi bi-trash-fill"></i></button>
    </td>
  </div>
  
    
</div>